<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ComposeYuva"
        tools:targetApi="31">

        <activity
            android:name=".login.CategoryActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeYuva">
        </activity>

        <activity
            android:name=".login.ConfirmDropActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeYuva">
        </activity>

        <activity
            android:name=".login.ConfirmPickupActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeYuva">
        </activity>

        <activity
            android:name=".login.StartActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeYuva">
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeYuva">
        </activity>

        <activity
            android:name=".login.ProductActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeYuva">
        </activity>

        <activity
            android:name=".login.SearchAddressActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeYuva">
        </activity>

        <activity
            android:name=".login.HomeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeYuva">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDGgHm62cLziXwWGsVPhuI68u1GpvcE-XA" />
    </application>

</manifest>